@model RoboTech.ModelViews.XemDonHang
@{
    var total = Model.ChiTietDonHang.Sum(x => x.TotalMoney).Value.ToString("#,##0");
}
<h3>Order Information: #@Model.DonHang.Id</h3>
<br />
<p>Order date: @Model.DonHang.OrderDate</p>
<p>Order Status: @Model.DonHang.TransactStatus.Status</p>
<p>Total order value: <strong> @total VNĐ</strong></p>
<p>Delivery date:  @Model.DonHang.OrderDate</p></p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>Buyer</th>
                <th>Amount</th>
                <th>Unit price</th>
                <th>Total amount</th>
            </tr>

                @foreach (var item in Model.ChiTietDonHang)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Amount</td>
                        <td>@item.Product.Price</td>
                        <td>@item.TotalMoney.Value.ToString("#,##0") VNĐ</td>
                    </tr>
                }
        </tbody>
    </table>
</div>


