@model RoboTech.Models.TbCustomer

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TbOrder> DanhSachDonHang = ViewBag.DonHang;
   
    RoboTech.ModelViews.ChangePasswordViewModel changePassword = new RoboTech.ModelViews.ChangePasswordViewModel();
}
<div class="container"> 
    <main>
        <div class="account-page account-page-area section-space-y-axis-100">
            <div class="profile">
                <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                    <li class="nav-item"><a href="#account-dashboard" class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" aria-controls="account-dashboard">Account <span>></span></a></li>
                    <li class="nav-item"><a href="" class="nav-link" id="account-details-tab" data-bs-toggle="tab" aria-controls="account-orders" aria-selected="false">Billing Detail <span>></span></a></li>
                    <li class="nav-item"><a href="#account-orders" class="nav-link" id="account-orders-tab" data-bs-toggle="tab" aria-controls="account-details" aria-selected="false">My Orders <span>></span></a></li>
                    <li class="nav-item"><a href="" class="nav-link" data-bs-toggle="tab">Update Account <span>></span></a></li>
                    <li class="nav-item"><a href="#account-details" id="account-details-tab" class="nav-link" data-bs-toggle="tab" role="tab" aria-controls="account-details" aria-selected="false">Change Password <span>></span></a></li>
                    <li class="nav-item"><a href="" class="nav-link" id="account-logout-tab" role="tab" aria-selected="false">Logout <span>></span></a></li>
                </ul>
            </div>
            <div class="account-detail">
                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                    <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                        <div class="myaccount-dashboard">
                            <p>
                                Welcome back, <b>@Model.FullName !</b>
                            </p>
                            <p>Email: <b>@Model.Email</b></p>
                            <p>Phone Number: <b>@Model.Phone</b> </p>
                            <p>Address: 
                                @if (@Model.Address != null)
                                {
                                    <b>@Model.Address</b>
                                }
                                else {
                                <b>You not yet update address for your orders! </b>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                        <div class="myaccount-orders">
                            <h4 class="small-title">LIST OF YOUR ORDERS</h4>
                            @if (DanhSachDonHang != null && DanhSachDonHang.Count() > 0)
                            {
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <th>ID</th>
                                                <th>Purchase date</th>
                                                <th>Delivery date</th>
                                                <th>Status</th>
                                            </tr>
                                            @foreach (var item in DanhSachDonHang)
                                            {
                                                <tr>
                                                    <td><a class="account-order-id" href="javascript:void(0)">#@item.Id</a></td>
                                                    <td>@item.OrderDate</td>
                                                    <td>@item.OrderDate</td>
                                                  @*  <td>@item.TransactStatus.Status</td>*@
                                                    <td>
                                                        <a href="javascript:void(0)" class="xemdonhang" data-madonhang="@item.Id">View detailed orders</a>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <hr />
                                    <div id="records_table">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <p>You don't have any orders yet!<a href="Home"><b> SHOPING NOW </b></a> !</p>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                        <div class="myaccount-address">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <div class="row">
                                <div class="col">
                                    <h4 class="small-title">BILLING ADDRESS</h4>
                                    <address>
                                        @Model.Address
                                    </address>
                                </div>
                                <div class="col">
                                    <h4 class="small-title">SHIPPING ADDRESS</h4>
                                    <address>
                                        @Model.Address
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                        @await Html.PartialAsync("_ChangePasswordPartialView", changePassword)
                    </div>
                </div>
            </div>
        </div>
        @*Information display detail*@
        
        
    </main> <!-- Main Area -->
</div>
@section Scripts{
<script>
    $(document).ready(function () {
        $(".xemdonhang").click(function () {
            var madonhang = $(this).attr("data-madonhang")
            $.ajax({
                url: '/DonHang/Details',
                datatype: "json",
                type: "POST",
                data: { id: madonhang },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
</script>
}